.start {
  border: none;
  border-radius: 5px;
  background-color: turquoise;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.start:hover {
  background-color: grey;
}

.score {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: brown;
}
